<!-- קומפוננטה המציגה פרטי הזמנה בודדת
orders -קומפוננטה פנימית של רשימת הזמנות -->
<div  [hidden]="hideOrder">
<table align="left" bordercolor="gray" width="60%" height="50px">
        <tr>
    <td>{{order.id}}</td>
    <td>{{order.orderDate}}</td>
    <td>{{order.supplierName}}</td>
    <td>{{order.workerName}}</td>    
    <td>{{order.orderStatus}}</td>
    </tr>
</table>
    <!-- נציג ונחביא את הכפתורים בהתאם לרשימה בה אנו נמצאים -->
    <table align="right"  width="40%" height="100%" >
        <tr>
        <!-- <tr width="40px"> -->
    <td><div [hidden]= "hideButtons">
         <button type="button" class="myButton" (click)="OrderConfirmation()" >OK</button></div></td>        
    <td><div [hidden]="hideButtons">
        <button type="button" class="myButton" (click)="DeleteOrder()" >Delete</button></div></td> 
    <td><div  [hidden]="hiden1">
        <button type="button" class="myButton" (click)="getAllItemsOrder()">View details</button></div></td>
    <td><div  [hidden]="hiden">
        <button type="button" class="myButton" (click)="closeDetails()"  >Close</button></div></td>
        
<div [hidden]="hiden">
<items-in-order [itemsO]="itemsInOrder" ></items-in-order>
</div>
        <!-- </tr> -->
      </table>
        <!-- </tr> -->
    <!-- </table> -->
</div>

   
   
  
