<div>
    please select supplier name:
      <select [(ngModel)]="currentOrder.supplierId">
          <option *ngFor="let s of suppliers" [value]="s.id">{{s.supplierName}}</option>       
      </select>
</div>
<div>
    <button type="button" (click)="searchForFurnitures()">Search</button>
</div>

<!-- <div *ngFor="let f of furnitures" >{{f.furnitureName  f.furnitureMaterial}}</div> -->
<div [hidden]="hideList">
<order-list [currentFurnitures]=furnitures (passOrderItems)="doOrder($event)"></order-list>
</div>