.myButton {
	background-color:#91b988;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #91b988;
	display:inline-block;
	cursor:pointer;
	color:gray;

	font-family:Arial;
	font-size:15px;
	padding:4px 15px;
    text-decoration:none;
    margin-right: 25%; 
    margin-left: 25%; 
}
.myButton:hover {

	background-color:#91b988;
}
.myButton:active {
	position:relative;
	top:1px;
}
body {
    margin-right: 25%; 
    margin-left: 25%; 
  }
  
  p {
    color: #b2bd1e;
    letter-spacing: 3px;
    font-family: Arial;
    text-align:center;
  }