<!-- מסך המציג את רשימת הפריטים של הספק המתאים לשם ביצוע הזמנה -->
<div>
        <table width="100%">
            <tr>
        <td width="15%"> name</td>
        <td width="15%"> color</td>
        <td width="15%"> size</td>
        <td width="17%"> material</td>
        <td width="50%" > amount</td>
           </tr>
    </table>
<div>
   <item *ngFor="let or of currentFurnitures" [item]="or"></item>
</div>
<!-- כפתור ביצוע הזמנה -->
    <button type="button" class="myButton" (click)="performOrder()">perform</button>
</div>

