.myButton {
	background-color:#91b988;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #91b988;
	display:inline-block;
	cursor:pointer;
	color:gray;
	font-family:Arial;
	font-size:15px;
	padding:4px 15px;
    text-decoration:none;
    margin-right: 25%; 
    margin-left: 25%; 
}
.myButton:hover {
	background-color:#91b988;
}
.myButton:active {
	position:relative;
	top:1px;
}
table td, th {
border-width:medium;
/* border-collapse:seperate; */
/* border-spacing:2px;  */
border-style:solid; 
border-color:gray;
} 
table td, th 
{ 
text-align:center; 
vertical-align:bottom;
} 
td
{ 
text-align:center; 
}

