
 .btn  {
	-moz-box-shadow: 2px 0px 23px 0px #e0c22a;
	-webkit-box-shadow: 2px 0px 23px 0px #e0c22a;
	box-shadow: 2px 0px 23px 0px #e0c22a;
	background-color:#b2bd1e;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:2px solid #c9ab34;
	display:inline-block;
	cursor:pointer;
	color:#f0e3d3;
	font-family:Arial;
	font-size:16px;
	padding:11px 20px;
    text-decoration:none;
    margin-right: 25%; 
    margin-left: 25%; 
}
.btn:hover {
	background-color:#becf3a;
}
.btn:active {
	position:relative;
	top:1px;
}


p, label {color: #b2bd1e;
    letter-spacing: 3px;
    font-family: Arial;
    text-align:center;
}
  p { font-size: 100%;
    font-weight: bold;    
  }
  label{
    font-size: 90%;
    margin-right: 25%; 
    margin-left: 25%; 
  }
  input[type=text],
  textarea {
      box-shadow:0 1px 0 white,inset 0 1px 1px #555;
      border-radius:3px;
      border:1px solid #b2bd1e;
      width:228px;
      padding:5px; 
  }
  body {
    margin-right: 25%; 
    margin-left: 25%; 
  }
