<!-- קומפוננטה של פריט אחד לשם ביצוע הזמנה -->
  <table bordercolor="gray" align="center" width="100%">
      <!-- <tr> -->
  <td align="left" >{{item.furnitureName}}</td>
  <td align="right">{{item.furnitureColor}}</td>
  <td align="right">{{item.furnitureSize}}</td>
  <td align="right">{{item.furnitureMaterial}}</td><td></td>
  <td align="center">{{item.furniturePrise}}</td>
  <!-- כאן ניתן להכניס את הכמות וזה יתעדכן בהזמנה -->
  <td align="right"> <input type="number"class="textarea" [(ngModel)]="item.amount"/></td>
      <!-- </tr> -->
  </table>