 <button type="button"  class="myButton" (click)="LogOut()">Log Out</button>

  <div class="panel panel-default" width="100%" align="center"> 
<nav class="navbar navbar-light" align="center" width="100%" style="background-color: rgb(49, 197, 36)  ; ">

<a routerLink="do-order" routerLinkActive="current " >doOrder</a>
<a routerLink="order-not-provid" routerLinkActive="current">Order Not Provid</a>
<a routerLink="all-orders" routerLinkActive="current">All orders</a>

</nav>

</div> 

<router-outlet></router-outlet>