<div class="container " style="width: 65% ; margin-top: 5%  ">
  <div class="panel panel-default"> 
<nav class="navbar navbar-light" style="background-color: hsl(122, 39%, 49%)  ; ">

<a routerLink="do-order" routerLinkActive="current " >doOrder</a>
<a routerLink="order-not-provid" routerLinkActive="current">Order Not Provid</a>
<a routerLink="all-orders" routerLinkActive="current">All orders</a>
<a routerLink="login" routerLinkActive="current">Log out</a>


</nav>

</div>
</div> 

<router-outlet></router-outlet>