<div class="container " style="width: 65% ; margin-top: 5%  ">

<button type="button" (click)="LogOut()">Log Out</button>

  <div class="panel panel-default" width="100%" align="center"> 
<nav class="navbar navbar-light" align="center" width="100%" style="background-color: rgb(197, 36, 197)  ; ">

<a routerLink="do-order" routerLinkActive="current " >doOrder</a>
<a routerLink="order-not-provid" routerLinkActive="current">Order Not Provid</a>
<a routerLink="all-orders" routerLinkActive="current">All orders</a>

</nav>

</div>
</div> 

<router-outlet></router-outlet>