table td, th {
    height: 100%;
    /* width: 100%; */
    border-width:medium;
    border-collapse:seperate;
    border-spacing:2px; 
    border-style:solid; 
    border-color:grey;
    } 
    table td, th 
    { 
    text-align:center; 
    vertical-align:bottom;
    } 
    th 
    { 
    text-align:center; 
    }
    